<form class="mt-2" method="post" action="{{ path('app_categorias_delete', {'id': categoria.id}) }}" onsubmit="return confirm('¿Estas seguro de borrar esta categoría?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button class="btn btn-danger fs-6" style="font-size: 14px; padding: 8px 16px;">Borrar</button>
</form>
