{% extends 'base.html.twig' %}

{% block title %}Editar Categorias{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center mb-0">Editar Categorias</h1>
                    </div>
                    <div class="card-body">
                        {{ include('categorias/_form.html.twig', {'button_label': 'Actualizar'}) }}
                        {{ include('categorias/_delete_form.html.twig', {'button_label': 'Borrar'}) }}

                        <div class="text-center mt-4">
                            <a href="{{ path('app_categorias_index') }}" class="btn btn-secondary">Volver Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
