{% extends 'base.html.twig' %}

{% block title %}New Productos{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Crear nuevo producto</h1>

        <div class="card mx-auto" style="max-width: 500px;">
            <div class="card-body">
                {{ include('productos/_form.html.twig') }}
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_productos_index',{'catId': catId}) }}" class="btn btn-secondary">Volver Atrás</a>
        </div>
    </div>

{% endblock %}
