{% extends 'base.html.twig' %}

{% block title %}Detalle del Pedido{% endblock %}

{% block body %}
    {% for pedido in pedidos %}
        <h2>Pedido ID: {{ pedido.id }}</h2>
        <p>Fecha: {{ pedido.fecha|date('Y-m-d H:i:s') }}</p>
        <p>Enviado: {% if pedido.enviado %}Sí{% else %}No{% endif %}</p>
        <h3>Productos:</h3>
        <ul>
            {% for datosPedido in pedido.productos %}
                <li>{{ datosPedido.producto.getNombre() }} - Cantidad: {{ datosPedido.cantidad }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
